.container-fluid .box-todolist{
    justify-content: center;
    align-items: center;
}

#squad-button button{
    background-color: rgb(107, 105, 105);
    font-weight: bold;
    color: white;
}

#squad-button button:hover{
    background-color: darkseagreen;
}

.box-todolist .box-list{
    border: 2px solid rgb(5, 204, 249);
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}